html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #E6D5BC;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* Penting untuk auto scroll halus */
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}